{
  "env": {
    "mocha": true,
    "browser": true
  },
  "globals": {
    "propel": true
  },
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "padded-blocks": 0,
    "no-multiple-empty-lines": 0,
    "no-unused-expressions": 0,
    "require-jsdoc": 0,
    "camelcase": 0,
    "max-nested-callbacks": 0
  }
}
